* {
  padding: 0;
  margin: 0;
}

/* This is to costumize the not active links in the list on hover */

/* Horizontal Navigation Bar */

.nav {
  position: fixed;
  width: 100vw;

}

.navlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

/* Dropdown */


/* Contact Form */
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #000000; 
  padding: 20px; 
}

hr {
  border: none;
  border-top: 2px solid #ccc; 
  margin: 10px 0; 
}

.space {
  border: none;
  margin: 3px 0;
}
